[data-companyWrapper] {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    [data-companyGrid] {
        display: grid;
        grid-template-columns: repeat(4, 300px);
        gap: 2rem;
        padding: 3rem;
    }
    [data-item] {
        background-color: gray;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 300ms ease-in-out;
        img {
            height: 100%;
        }
        h3 {
            color: white;
            text-transform: uppercase;
            font-family: 'Montserrat', sans-serif;
        }
        &:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
    }
}