label {
    margin:2rem;
}
[data-homeWrapper] {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    [data-gridHome] {
        margin-top: 2rem;
        display: flex;
        flex-wrap: wrap;
        width: 90vw;
        gap: 2rem;
        a{
            text-decoration: none;
            color: rgb(47, 40, 40);
            &[ data-vue="up"] {
                display: block;
            }
            &[ data-vue="down"] {
                display: none;
            }
            [data-item] {
                display: flex;
                transition: all 300ms ease-in-out;
                border-radius:5px;
                height:5rem;
                flex-direction: row;
                border:solid 1px gray;
                box-shadow: 2px 2px gray;
                img {
                    height:5rem;
                    width: 5rem;
                    border-radius:5px;
                    object-fit: cover;
                }
                div {
                    box-sizing: border-box;
                    border-radius:5px;
                    font-size: 0.8rem;
                    width:35ch;
                    ul {
                        padding:0 5px;
                        list-style: none;
                        li {
                            list-style: none;
                            text-align: center;
                        }
                    }                   
                }
                &:hover {
                    transform: scale(1.1);
                    cursor: pointer;
                }
            }
        }
    }
}