[data-header] {
    margin-top: 0 !important;
    margin-bottom: 1vh;
    box-sizing: border-box;
    padding: 0 2vw;
    height: 7vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    [data-logout] {
        a {
            display: flex;
            place-items: center;
            text-decoration: none;
            color: white;
        }
        svg {
            margin-left: 5px;
        }
    }
}