@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@page {
  size: auto;
  margin: 0mm;
}
@media print {
  body * {
    visibility: hidden;
  }

  #capture, #capture * {
    visibility: visible;
  }

  #capture {
    position: absolute;
    left: 0;
    top: 0;
  }
}
[data-livret] {
  font-family: "Montserrat", sans-serif;
  height: 297mm;
  width: 210mm;
  margin: 0;
}

[data-containerCouverture] {
  height: 297mm;
  width: 210mm;
  margin: 0;
}

[data-livretH] {
  width: 100%;
  height: 15%;
  background: #0C090C 0% 0% no-repeat padding-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
[data-livretH] h1 {
  color: var(--unnamed-color-ffffff);
  text-align: left;
  letter-spacing: 0px;
  color: #FFFFFF;
  font-size: 29px;
}
[data-livretH] [data-imgLogo] {
  margin-top: 1rem;
  object-fit: fill;
}

[data-height] {
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

[data-lgray] {
  background: #DEDEDE 0% 0% no-repeat padding-box;
  width: 100%;
  height: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}

[data-square] {
  margin-top: -12rem;
  width: 70%;
  height: 60%;
  background: #161314 0% 0% no-repeat padding-box;
  box-shadow: 7px 7px 8px #0404055E;
  border-radius: 11px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
[data-square] img {
  margin-top: -3.5rem;
}
[data-square] [data-descp] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  text-align: center;
  margin-top: 3rem;
}
[data-square] [data-descp] p {
  font-size: 19px;
  font-weight: 500;
}

[data-lfooter] {
  height: 15%;
  background: #161314 0% 0% no-repeat padding-box;
  color: white;
  font-size: 17px;
  font-weight: medium;
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 0;
}
[data-lfooter] [data-contact] {
  margin-bottom: 1rem;
}
[data-lfooter] [data-contact] h2 {
  margin: 0;
  margin-left: 1rem;
  font-size: 20px;
}
[data-lfooter] p {
  margin: 2px;
  width: 40%;
  margin-left: 1rem;
}

[data-contact] {
  background-image: url(../../assets/barre.png);
  display: flex;
  align-items: center;
  align-content: center;
  background-repeat: no-repeat;
  background-position-x: 25%;
  background-position-y: center;
  height: 25px;
}
[data-contact] h2 {
  font-size: 20px;
  margin: 0;
  margin-left: 0.5rem;
}

[data-containerSommaire] {
  height: 29.7cm;
  width: 21cm;
}
[data-containerSommaire] [data-headSommaire] {
  height: 15%;
  background: #0C090C 0% 0% no-repeat padding-box;
}
[data-containerSommaire] [data-som] {
  background-image: url(../../assets/barre.png);
  display: flex;
  align-items: center;
  align-content: center;
  background-repeat: no-repeat;
  background-position-y: 100%;
  background-position-x: 10%;
  height: 3%;
}
[data-containerSommaire] [data-som] h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  margin-left: 2rem;
  color: white;
}
[data-containerSommaire] [data-mid] {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
[data-containerSommaire] [data-mid] [data-rightGray] {
  height: 80%;
  width: 100%;
  background: #DEDEDE 0% 0% no-repeat padding-box;
  display: flex;
  align-items: center;
}
[data-containerSommaire] [data-mid] [data-redLeft] {
  width: 154px;
  height: 110%;
  background: #A50408 0% 0% no-repeat padding-box;
  box-shadow: 4px 5px 14px #00000038;
  border-radius: 0px 10px 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: right;
}
[data-containerSommaire] [data-mid] [data-redLeft] [data-leftC] {
  background: #C40005 0% 0% no-repeat padding-box;
  border-radius: 0px 10px 10px 0px;
  width: 409px;
  height: 32px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
}
[data-containerSommaire] [data-mid] [data-redLeft] [data-leftC] :nth-child(1) {
  margin-right: 1rem;
}
[data-containerSommaire] [data-mid] [data-redLeft] [data-leftC] :nth-child(2) {
  margin-right: 0.5rem;
}
[data-containerSommaire] [data-fsommaire] {
  height: 12%;
  background: #161314 0% 0% no-repeat padding-box;
}

[data-renseigment] {
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 29.7cm;
  width: 21cm;
}
[data-renseigment] [data-headSommaire] {
  height: 15%;
  background: #0C090C 0% 0% no-repeat padding-box;
}
[data-renseigment] [data-som] {
  background-image: url(../../assets/barre.png);
  display: flex;
  align-items: center;
  align-content: center;
  background-repeat: no-repeat;
  background-position-y: 100%;
  background-position-x: 10%;
  height: 3%;
}
[data-renseigment] [data-som] h2 {
  font-size: 17px;
  font-weight: bold;
  margin: 0;
  margin-left: 2rem;
  color: white;
}
[data-renseigment] [data-mid] {
  height: 60%;
  display: flex;
  align-items: center;
}
[data-renseigment] [data-mid] [data-rightGray] {
  height: 88%;
  width: 100%;
  z-index: -1;
  background: #dedede;
  background: linear-gradient(0deg, white 2%, #dedede 2%, #dedede 99%, white 97%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #0c090c;
  font-size: 15px;
  font-weight: 500;
}
[data-renseigment] [data-mid] [data-rightGray] p {
  width: 100%;
  margin: 0;
  margin-left: 3rem;
  font-weight: medium;
}
[data-renseigment] [data-mid] [data-redLeft] {
  width: 186px;
  height: 88%;
  background: #A50408 0% 0% no-repeat padding-box;
  box-shadow: 4px 5px 14px #00000038;
  border-radius: 0px 10px 10px 0px;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
[data-renseigment] [data-mid] [data-leftC] {
  width: 200px;
  height: 27px;
  background: #C40005 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 2px solid #FFFFFF;
  border-radius: 0px 18px 18px 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
[data-renseigment] [data-mid] [data-leftC] p {
  font-size: 15px;
  font-weight: bold;
  color: white;
  margin-left: 1rem;
}
[data-renseigment] [data-rsfooter] {
  background: #161314 0% 0% no-repeat padding-box;
  width: 100%;
  height: 19%;
  color: white;
  font-size: 9px;
  font-weight: medium;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
[data-renseigment] [data-rsfooter] img {
  width: 80%;
  height: 80%;
  object-fit: fill;
}

[data-responsabilite] {
  height: 29.7cm;
  width: 21cm;
}
[data-responsabilite] [data-headSommaire] {
  height: 15%;
  background: #0C090C 0% 0% no-repeat padding-box;
}
[data-responsabilite] [data-som] {
  background-image: url(../../assets/barre.png);
  display: flex;
  align-items: center;
  align-content: center;
  background-repeat: no-repeat;
  background-position-y: 100%;
  background-position-x: 10%;
  height: 3%;
}
[data-responsabilite] [data-som] h2 {
  font-size: 17px;
  font-weight: bold;
  margin: 0;
  margin-left: 2rem;
  color: white;
}
[data-responsabilite] [data-wrapResp] {
  height: 70%;
}
[data-responsabilite] [data-wrapResp] [data-grayR] {
  background: #DEDEDE 0% 0% no-repeat padding-box;
  width: 100%;
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
[data-responsabilite] [data-wrapResp] [data-grayR] [data-respE] {
  background: #161314 0% 0% no-repeat padding-box;
  border-radius: 0px 0px 10px 10px;
  width: 55%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  font-weight: medium;
}
[data-responsabilite] [data-wrapResp] [data-grayR] [data-articles] {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: white;
  margin-top: 5rem;
}
[data-responsabilite] [data-wrapResp] [data-grayR] [data-articles] [data-artic1] {
  width: 28%;
  height: 105%;
  background: #BCBCBC 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
[data-responsabilite] [data-wrapResp] [data-grayR] [data-articles] [data-artic1] [data-bouble] {
  position: relative;
  top: -10%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  color: white;
  font-size: 60px;
  width: 57px;
  height: 57px;
  background: #BCBCBC 0% 0% no-repeat padding-box;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
}
[data-responsabilite] [data-wrapResp] [data-grayR] [data-articles] [data-artic1] p {
  width: 80%;
  text-align: center;
}
[data-responsabilite] [data-wrapResp] [data-grayR] [data-articles] [data-artic2] {
  width: 28%;
  height: 105%;
  background: #0C090C 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
[data-responsabilite] [data-wrapResp] [data-grayR] [data-articles] [data-artic2] [data-bouble] {
  position: relative;
  top: -10%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  color: white;
  font-size: 40px;
  width: 57px;
  height: 57px;
  background: #0C090C 0% 0% no-repeat padding-box;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
}
[data-responsabilite] [data-wrapResp] [data-grayR] [data-articles] [data-artic2] p {
  width: 80%;
  text-align: center;
}
[data-responsabilite] [data-wrapResp] [data-grayR] [data-articles] [data-artic3] {
  width: 28%;
  height: 105%;
  background: #C40005 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
[data-responsabilite] [data-wrapResp] [data-grayR] [data-articles] [data-artic3] [data-bouble] {
  position: relative;
  top: -10%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  color: white;
  font-size: 40px;
  width: 57px;
  height: 57px;
  background: #C40005 0% 0% no-repeat padding-box;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
}
[data-responsabilite] [data-wrapResp] [data-grayR] [data-articles] [data-artic3] p {
  width: 80%;
  text-align: center;
}
[data-responsabilite] [data-wrapResp] [data-tray] {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-top: 2px solid #000;
  margin-top: 7rem;
}
[data-responsabilite] [data-wrapResp] [data-tray] [data-respS] {
  background: #161314 0% 0% no-repeat padding-box;
  border-radius: 0px 0px 10px 10px;
  width: 55%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  font-weight: 500;
}
[data-responsabilite] [data-wrapResp] [data-tray] [data-sTxt] {
  width: 70%;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
}
[data-responsabilite] [data-wrapResp] [data-lastArtc] {
  margin-top: 2rem;
  width: 80%;
  height: 180px;
  background: #ECECEC 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: #161314;
  font-weight: 500;
  font-size: 14px;
}
[data-responsabilite] [data-wrapResp] [data-lastArtc] [data-bouble] {
  position: relative;
  top: -16%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  color: white;
  font-size: 40px;
  width: 57px;
  height: 57px;
  background: #ECECEC 0% 0% no-repeat padding-box;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
}
[data-responsabilite] [data-wrapResp] [data-lastArtc] p {
  margin: 0;
  width: 95%;
  text-align: center;
}
[data-responsabilite] [data-rfooter] {
  background: #161314 0% 0% no-repeat padding-box;
  height: 12%;
  z-index: -1 !important;
}

[data-regles] {
  height: 29.7cm;
  width: 21cm;
}
[data-regles] [data-headSommaire] {
  height: 15%;
  background: #0C090C 0% 0% no-repeat padding-box;
}
[data-regles] [data-som] {
  background-image: url(../../assets/barre.png);
  display: flex;
  align-items: center;
  align-content: center;
  background-repeat: no-repeat;
  background-position-y: 100%;
  background-position-x: 10%;
  height: 3%;
}
[data-regles] [data-som] h2 {
  font-size: 17px;
  font-weight: bold;
  margin: 0;
  margin-left: 2rem;
  color: white;
}
[data-regles] [data-wrapRegl] {
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
[data-regles] [data-wrapRegl] [data-noirR] {
  width: 80%;
  height: 40%;
  background: #0C090C 0% 0% no-repeat padding-box;
  border-radius: 0px 0px 10px 10px;
  color: white;
  font-size: 19px;
  display: flex;
  justify-content: center;
}
[data-regles] [data-wrapRegl] [data-noirR] ul {
  width: 80%;
}
[data-regles] [data-wrapRegl] [data-contS] {
  border-top: 2px solid #000;
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
[data-regles] [data-wrapRegl] [data-contS] [data-titCont] {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 55%;
  width: 65%;
  background: #161314 0% 0% no-repeat padding-box;
  border-radius: 0px 0px 10px 10px;
}
[data-regles] [data-wrapRegl] [data-contS] [data-titCont] p {
  font-size: 20px;
  font-weight: bold;
}
[data-regles] [data-wrapRegl] [data-contS] [data-gridContact] {
  margin-top: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
[data-regles] [data-wrapRegl] [data-contS] [data-gridContact] [data-partner] {
  width: 80%;
  height: 130%;
  background: #ECECEC 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 2px solid #FFFFFF;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
[data-regles] [data-wrapRegl] [data-contS] [data-gridContact] [data-partner] p {
  font-size: 13px;
  margin: 0;
}
[data-regles] [data-fregles] {
  height: 12%;
  background: #161314 0% 0% no-repeat padding-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
[data-regles] [data-fregles] p {
  color: white;
  text-align: center;
  font-weight: 600;
  font-size: 17px;
}

[data-restauration] {
  height: 29.7cm;
  width: 21cm;
}
[data-restauration] [data-headSommaire] {
  height: 15%;
  background: #0C090C 0% 0% no-repeat padding-box;
}
[data-restauration] [data-som] {
  background-image: url(../../assets/barre.png);
  display: flex;
  align-items: center;
  align-content: center;
  background-repeat: no-repeat;
  background-position-y: 100%;
  background-position-x: 10%;
  height: 3%;
}
[data-restauration] [data-som] h2 {
  font-size: 17px;
  font-weight: bold;
  margin: 0;
  margin-left: 2rem;
  color: white;
}
[data-restauration] [data-contain] {
  height: 70%;
  display: flex;
  align-items: flex-start;
}
[data-restauration] [data-leftR] {
  background: #A50408 0% 0% no-repeat padding-box;
  box-shadow: 4px 5px 14px #00000038;
  border-radius: 0px 10px 10px 0px;
  height: 95%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  color: white;
  font-size: 35px;
  margin-top: 2.5rem;
}
[data-restauration] [data-rightR] {
  margin-top: 2rem;
  width: 70%;
  height: 90%;
  display: flex;
  flex-direction: column;
}
[data-restauration] [data-rightR] [data-elem1] {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  height: 20%;
  margin-top: 3rem;
  box-shadow: 0px 3px 6px #00000029;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
[data-restauration] [data-rightR] [data-elem1] p {
  width: 90%;
  letter-spacing: 0px;
  color: #161314;
  font-size: 15px;
  font-weight: 500;
  text-align: left;
}
[data-restauration] [data-rightR] [data-elem2] {
  background: #ECECEC 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
[data-restauration] [data-rightR] [data-elem2] p {
  width: 90%;
  letter-spacing: 0px;
  color: #161314;
  font-size: 15px;
  font-weight: 500;
  text-align: left;
}
[data-restauration] [data-rightR] [data-elem3] {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  box-shadow: 0px 3px 6px #00000029;
  z-index: 1;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
[data-restauration] [data-rightR] [data-elem3] p {
  width: 90%;
  letter-spacing: 0px;
  color: #161314;
  font-size: 15px;
  font-weight: 500;
  text-align: left;
}
[data-restauration] [data-rightR] [data-elem4] {
  background: #ECECEC 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
[data-restauration] [data-rightR] [data-elem4] p {
  width: 90%;
  letter-spacing: 0px;
  color: #161314;
  font-size: 15px;
  font-weight: 500;
  text-align: left;
}
[data-restauration] [data-rightR] [data-elem5] {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  height: 20%;
  box-shadow: 0px 3px 6px #00000029;
  display: flex;
  z-index: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
[data-restauration] [data-rightR] [data-elem5] p {
  width: 90%;
  letter-spacing: 0px;
  color: #161314;
  font-size: 15px;
  font-weight: 500;
  text-align: left;
}
[data-restauration] [data-footerRes] {
  background: #161314 0% 0% no-repeat padding-box;
  height: 12%;
}

[data-equip] {
  height: 29.7cm;
  width: 21cm;
}
[data-equip] [data-headSommaire] {
  height: 15%;
  background: #0C090C 0% 0% no-repeat padding-box;
}
[data-equip] [data-som] {
  background-image: url(../../assets/barre.png);
  display: flex;
  align-items: center;
  align-content: center;
  background-repeat: no-repeat;
  background-position-y: 100%;
  background-position-x: 1%;
  height: 3%;
}
[data-equip] [data-som] h2 {
  font-size: 17px;
  font-weight: bold;
  margin: 0;
  margin-left: 2rem;
  color: white;
}
[data-equip] [data-contentE] {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
[data-equip] [data-contentE] [data-titleE] {
  background: #0C090C 0% 0% no-repeat padding-box;
  border-radius: 0px 0px 10px 10px;
  width: 80%;
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 17px;
  font-weight: bold;
}
[data-equip] [data-contentE] [data-titleE] p {
  margin: 0;
}
[data-equip] [data-contentE] [data-titleE] :nth-child(1) {
  font-weight: bold;
}
[data-equip] [data-contentE] [data-titleE] :nth-child(2) {
  font-weight: 500;
}
[data-equip] [data-contentE] [data-gridEquip] {
  margin-top: 5rem;
  display: grid;
  grid-column-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 65%);
  margin-left: 2rem;
  margin-right: 2rem;
}
[data-equip] [data-contentE] [data-gridEquip] [data-card] {
  width: 90%;
  height: 80%;
  background: #ECECEC 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  border-radius: 10px;
}
[data-equip] [data-contentE] [data-gridEquip] [data-card] p {
  width: 90%;
}
[data-equip] [data-contentE] [data-gridEquip] [data-card] img {
  margin-top: -2.5rem;
}
[data-equip] [data-footerRes] {
  background: #161314 0% 0% no-repeat padding-box;
  height: 12%;
}

[data-risques] {
  height: 29.7cm;
  width: 21cm;
}
[data-risques] [data-headSommaire] {
  height: 15%;
  background: #0C090C 0% 0% no-repeat padding-box;
}
[data-risques] [data-som] {
  background-image: url(../../assets/barre.png);
  display: flex;
  align-items: center;
  align-content: center;
  background-repeat: no-repeat;
  background-position-y: 100%;
  background-position-x: 10%;
  height: 3%;
}
[data-risques] [data-som] h2 {
  font-size: 17px;
  font-weight: bold;
  margin: 0;
  margin-left: 2rem;
  color: white;
}
[data-risques] [data-contentR] {
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
[data-risques] [data-contentR] [data-noirC] {
  width: 50%;
  height: 20%;
  background: #0C090C 0% 0% no-repeat padding-box;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  justify-content: center;
}
[data-risques] [data-contentR] [data-noirC] img {
  height: 220px;
}
[data-risques] [data-contentR] [data-danger] {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
[data-risques] [data-contentR] [data-danger] img {
  margin-right: 1rem;
}
[data-risques] [data-contentR] [data-title] {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin: -0.5rem;
}
[data-risques] [data-contentR] [data-contentRisque] {
  margin-left: 3rem;
  margin-right: 6rem;
  height: 322px;
  font-size: 15px;
  font-weight: 500;
}
[data-risques] [data-contentR] [data-contentRisque] ul {
  line-height: 1.1;
}
[data-risques] [data-footerRes] {
  background: #161314 0% 0% no-repeat padding-box;
  height: 12%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
}
[data-risques] [data-footerRes] p {
  font-size: 18px;
}

[data-bold] {
  font-weight: bold;
}

[data-equipPersonnel] {
  height: 29.7cm;
  width: 21cm;
}
[data-equipPersonnel] [data-headSommaire] {
  height: 15%;
  background: #0C090C 0% 0% no-repeat padding-box;
}
[data-equipPersonnel] [data-som] {
  background-image: url(../../assets/barre.png);
  display: flex;
  align-items: center;
  align-content: center;
  background-repeat: no-repeat;
  background-position-y: 100%;
  background-position-x: 10%;
  height: 3%;
}
[data-equipPersonnel] [data-som] h2 {
  font-size: 17px;
  font-weight: bold;
  margin: 0;
  margin-left: 2rem;
  color: white;
}
[data-equipPersonnel] [data-content] {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
[data-equipPersonnel] [data-noir] {
  width: 339px;
  height: 90px;
  background: #0C090C 0% 0% no-repeat padding-box;
  border-radius: 0px 0px 10px 10px;
}
[data-equipPersonnel] [data-noir] p {
  font-size: 9px;
  color: white;
  text-align: center;
  width: 90%;
  display: flex;
  margin-left: 1rem;
}
[data-equipPersonnel] [data-epi] {
  margin-top: 6rem;
  display: flex;
  gap: 1rem;
}
[data-equipPersonnel] [data-epi] [data-card] {
  width: 118px;
  height: 130px;
  background: #ECECEC 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
}
[data-equipPersonnel] [data-epi] [data-card] img {
  position: relative;
  top: -3.5rem;
  left: 1.5rem;
}
[data-equipPersonnel] [data-epi] [data-card] p {
  width: 90%;
  font-size: 8px;
  text-align: center;
  margin-top: -4rem;
  margin-left: 5px;
}
[data-equipPersonnel] [data-para] {
  font-size: 9px;
  text-align: center;
  width: 85%;
  margin-top: 2rem;
}
[data-equipPersonnel] [data-picto] {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
[data-equipPersonnel] [data-picto] img {
  margin-top: -2rem;
}
[data-equipPersonnel] [data-footerRes] {
  background: #161314 0% 0% no-repeat padding-box;
  height: 74px;
  z-index: -1;
  margin-top: 2.8rem;
}

[data-accident] {
  height: 29.7cm;
  width: 21cm;
}
[data-accident] [data-headSommaire] {
  height: 15%;
  background: #0C090C 0% 0% no-repeat padding-box;
}
[data-accident] [data-som] {
  background-image: url(../../assets/barre.png);
  display: flex;
  align-items: center;
  align-content: center;
  background-repeat: no-repeat;
  background-position-y: 100%;
  background-position-x: 10%;
  height: 3%;
}
[data-accident] [data-som] h2 {
  font-size: 17px;
  font-weight: bold;
  margin: 0;
  margin-left: 2rem;
  color: white;
}
[data-accident] [data-wrapAcc] {
  height: 70%;
  width: 100%;
}
[data-accident] [data-wrapAcc] [data-flexA] {
  display: flex;
  font-weight: 500;
  font-size: 15px;
  margin-top: 2rem;
}
[data-accident] [data-wrapAcc] [data-flexA] [data-left] {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
}
[data-accident] [data-wrapAcc] [data-flexA] [data-right] {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
}
[data-accident] [data-wrapAcc] [data-flexA] [data-firstItem] {
  width: 70%;
  height: 200px;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #161314 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  color: white;
  text-align: center;
}
[data-accident] [data-wrapAcc] [data-flexA] [data-firstItem] [data-num] {
  background: #0C090C 0% 0% no-repeat padding-box;
  border: 2px solid #FFFFFF;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -1.3rem;
  margin-bottom: 1rem;
}
[data-accident] [data-wrapAcc] [data-flexA] [data-firstItem] h4 {
  margin: 0;
}
[data-accident] [data-wrapAcc] [data-flexA] [data-firstItem] p {
  margin: 0;
  margin-left: 1.3rem;
  margin-right: 1.3rem;
  margin-bottom: 1.5rem;
}
[data-accident] [data-wrapAcc] [data-flexA] [data-SecondItem] {
  width: 70%;
  height: 160px;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #161314 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  color: white;
  text-align: center;
}
[data-accident] [data-wrapAcc] [data-flexA] [data-SecondItem] [data-num] {
  background: #0C090C 0% 0% no-repeat padding-box;
  border: 2px solid #FFFFFF;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -2.5rem;
  margin-bottom: 1rem;
}
[data-accident] [data-wrapAcc] [data-flexA] [data-SecondItem] h4 {
  margin: 0;
}
[data-accident] [data-wrapAcc] [data-flexA] [data-SecondItem] p {
  margin: 0;
  margin-left: 1.3rem;
  margin-right: 1.3rem;
  margin-bottom: 1.5rem;
}
[data-accident] [data-wrapAcc] [data-flexA] [data-thirdItem] {
  width: 70%;
  height: 320px;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #161314 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  color: white;
  text-align: center;
}
[data-accident] [data-wrapAcc] [data-flexA] [data-thirdItem] [data-num] {
  background: #0C090C 0% 0% no-repeat padding-box;
  border: 2px solid #FFFFFF;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -2rem;
  margin-bottom: 1rem;
}
[data-accident] [data-wrapAcc] [data-flexA] [data-thirdItem] h4 {
  margin: 0;
}
[data-accident] [data-wrapAcc] [data-flexA] [data-thirdItem] p {
  margin: 0;
  margin-left: 1.3rem;
  margin-right: 1.3rem;
  margin-bottom: 1.5rem;
  width: 70%;
}
[data-accident] [data-wrapAcc] [data-flexA] [data-fourthItem] {
  width: 70%;
  height: 215px;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #161314 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  color: white;
  text-align: center;
}
[data-accident] [data-wrapAcc] [data-flexA] [data-fourthItem] [data-num] {
  background: #0C090C 0% 0% no-repeat padding-box;
  border: 2px solid #FFFFFF;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -2rem;
}
[data-accident] [data-wrapAcc] [data-flexA] [data-fourthItem] h4 {
  width: 70%;
}
[data-accident] [data-wrapAcc] [data-flexA] [data-fourthItem] p {
  margin: 0.3rem !important;
}
[data-accident] [data-wrapAcc] [data-flexA] [data-telA] {
  margin-top: 1rem;
  background: #ECECEC 0% 0% no-repeat padding-box;
  border-radius: 10px;
  height: 140px;
  width: 70%;
  display: grid;
  grid-template-columns: repeat(6, 46px);
  grid-template-rows: 35px 50px 50px;
  font-weight: 500;
  font-size: 9px;
}
[data-accident] [data-wrapAcc] [data-flexA] [data-telA] :nth-child(1) {
  grid-column-start: 3;
  grid-column-end: 6;
  font-size: 13px;
  font-weight: bold;
}
[data-accident] [data-wrapAcc] [data-flexA] [data-telA] [data-pomp] {
  grid-row: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  color: #c40005;
}
[data-accident] [data-wrapAcc] [data-flexA] [data-telA] [data-pomp] h4 {
  margin: 0;
  font-size: 28px;
  font-weight: bold;
}
[data-accident] [data-wrapAcc] [data-flexA] [data-telA] [data-pomp] p {
  margin: 0;
  font-size: 12px;
  font-weight: 500;
}
[data-accident] [data-wrapAcc] [data-flexA] [data-telA] [data-samu] {
  grid-row: 2;
  grid-column-start: 5;
  grid-column-end: 6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  color: #c40005;
}
[data-accident] [data-wrapAcc] [data-flexA] [data-telA] [data-samu] h4 {
  margin: 0;
  font-size: 28px;
  font-weight: bold;
}
[data-accident] [data-wrapAcc] [data-flexA] [data-telA] [data-samu] p {
  margin: 0;
  font-size: 12px;
  font-weight: 500;
}
[data-accident] [data-wrapAcc] [data-flexA] [data-telA] [data-appl] {
  grid-row: 3;
  grid-column-start: 1;
  grid-column-end: 8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #c40005;
}
[data-accident] [data-wrapAcc] [data-flexA] [data-telA] [data-appl] h4 {
  margin: 0;
  font-size: 28px;
  font-weight: bold;
}
[data-accident] [data-wrapAcc] [data-flexA] [data-telA] [data-appl] p {
  margin: 0;
  font-size: 12px;
  font-weight: 500;
}
[data-accident] [data-wrapAcc] [data-warn] {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-right: 5rem;
  margin-left: 5rem;
}
[data-accident] [data-wrapAcc] [data-warn] h4 {
  font-size: 15px;
  color: #c40005;
  font-weight: bold;
  margin-right: 0.3rem;
}
[data-accident] [data-wrapAcc] [data-warn] p {
  width: 98%;
  margin-top: 1.3rem;
  font-size: 14px;
  font-weight: 500;
}
[data-accident] [data-sauv] {
  margin-top: -7rem;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 2px solid #1DA16A;
  border-radius: 10px;
  width: 80%;
  height: 153px;
  display: flex;
}
[data-accident] [data-sauv] h5 {
  margin: 0;
  margin-top: 0.5rem;
  color: #1DA16A;
  font-size: 20px;
  font-weight: bold;
  margin-left: 1rem;
}
[data-accident] [data-sauv] p {
  margin: 0.5px;
  font-size: 17px;
  font-weight: 500;
  color: #161314;
  margin-left: 1rem;
}
[data-accident] [data-sauv] img {
  position: relative;
  left: 15%;
}
[data-accident] [data-footerRes] {
  background: #161314 0% 0% no-repeat padding-box;
  height: 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

[data-incendie] {
  height: 29.7cm;
  width: 21cm;
}
[data-incendie] [data-headSommaire] {
  height: 15%;
  background: #0C090C 0% 0% no-repeat padding-box;
}
[data-incendie] [data-som] {
  background-image: url(../../assets/barre.png);
  display: flex;
  align-items: center;
  align-content: center;
  background-repeat: no-repeat;
  background-position-y: 100%;
  background-position-x: 10%;
  height: 3%;
}
[data-incendie] [data-som] h2 {
  font-size: 17px;
  font-weight: bold;
  margin: 0;
  margin-left: 2rem;
  color: white;
}
[data-incendie] [data-wrapInc] {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
[data-incendie] [data-wrapInc] [data-wrapF] {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45%;
  gap: 4rem;
}
[data-incendie] [data-wrapInc] [data-wrapF] [data-first] {
  margin: 5rem 0 0 0;
  height: 100%;
  width: 35%;
  background: #161314 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
}
[data-incendie] [data-wrapInc] [data-wrapF] [data-first] [data-num1] {
  background: #0C090C 0% 0% no-repeat padding-box;
  border: 2px solid #FFFFFF;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -1rem 0 1rem 0;
}
[data-incendie] [data-wrapInc] [data-wrapF] [data-first] :nth-child(3) {
  font-weight: bold;
  font-size: 15px;
  margin: 1px;
}
[data-incendie] [data-wrapInc] [data-wrapF] [data-first] :nth-child(4) {
  font-weight: 500;
  width: 70%;
}
[data-incendie] [data-wrapInc] [data-wrapF] [data-first] :nth-child(6) {
  width: 70%;
}
[data-incendie] [data-wrapInc] [data-wrapF] [data-first] [data-contat] {
  background: #ECECEC 0% 0% no-repeat padding-box;
  border-radius: 10px;
  width: 90%;
  font-size: 30px;
  font-weight: bold;
  color: #c40005;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
[data-incendie] [data-wrapInc] [data-wrapF] [data-second] {
  margin: 5rem 0 0 0;
  height: 100%;
  width: 35%;
  background: #161314 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
}
[data-incendie] [data-wrapInc] [data-wrapF] [data-second] [data-num1] {
  background: #0C090C 0% 0% no-repeat padding-box;
  border: 2px solid #FFFFFF;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -5rem 0 1rem 0;
}
[data-incendie] [data-wrapInc] [data-wrapF] [data-second] :nth-child(3) {
  font-weight: bold;
  font-size: 15px;
}
[data-incendie] [data-wrapInc] [data-wrapF] [data-second] :nth-child(4) {
  width: 70%;
}
[data-incendie] [data-wrapInc] [data-wrapF] [data-second] :nth-child(5) {
  width: 70%;
}
[data-incendie] [data-wrapInc] [data-line] {
  display: flex;
  background: #161314 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  margin-top: 5rem;
  color: white;
  width: 73%;
  height: 150px;
}
[data-incendie] [data-wrapInc] [data-line] img {
  position: relative;
  right: 7%;
  bottom: 6%;
  margin: 0;
}
[data-incendie] [data-wrapInc] [data-line] [data-num1] {
  background: #0C090C 0% 0% no-repeat padding-box;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30%;
  width: 30%;
  margin-top: -1.5rem;
  margin-left: -2rem;
  margin-right: 1rem;
}
[data-incendie] [data-wrapInc] [data-line] [data-txtL] {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
[data-incendie] [data-wrapInc] [data-line] [data-txtL] span {
  color: white;
  font-weight: bold;
  font-size: 15px;
  margin: 0;
  margin-top: 1rem;
  text-align: left !important;
}
[data-incendie] [data-wrapInc] [data-line] [data-txtL] p {
  margin: 0;
  font-weight: 500;
  font-size: 13px;
  width: 95%;
}
[data-incendie] [data-wrapInc] [data-line2] {
  margin-top: 2rem;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 2px solid #C40005;
  border-radius: 10px;
  width: 73%;
  height: 150px;
  display: flex;
}
[data-incendie] [data-wrapInc] [data-line2] [data-txtL] {
  margin-top: 0.5rem;
}
[data-incendie] [data-wrapInc] [data-line2] [data-txtL] span {
  color: #C40005;
  font-weight: bold;
  font-size: 15px;
  margin: 0;
  margin-top: 2rem;
  margin-left: 1rem;
  text-align: left !important;
}
[data-incendie] [data-wrapInc] [data-line2] [data-txtL] ul {
  margin: 0;
}
[data-incendie] [data-wrapInc] [data-line2] [data-txtL] li {
  margin: 0;
  font-weight: 500;
  font-size: 13px;
  font-weight: bold;
  width: 100%;
}
[data-incendie] [data-wrapInc] [data-line2] [data-txtL] p {
  font-size: 15px;
  color: #c40005;
  font-weight: 700;
  margin: 0;
  text-align: center;
  margin-top: 0.2rem;
}
[data-incendie] [data-wrapInc] [data-line2] [data-imgL] {
  position: relative;
  left: 10%;
  bottom: 6%;
}
[data-incendie] [data-footerRes] {
  background: #161314 0% 0% no-repeat padding-box;
  height: 12%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
[data-incendie] [data-footerRes] p {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 500;
  color: white;
  padding-top: 1.5rem;
}
[data-incendie] [data-footerRes] img {
  margin-top: 10px;
  padding-top: 1rem;
  padding-left: 0.5rem;
}

[data-certificat] {
  height: 29.7cm;
  width: 21cm;
}
[data-certificat] [data-headSommaire] {
  height: 15%;
  background: #0C090C 0% 0% no-repeat padding-box;
}
[data-certificat] [data-som] {
  background-image: url(../../assets/barre.png);
  display: flex;
  align-items: center;
  align-content: center;
  background-repeat: no-repeat;
  background-position-y: 100%;
  background-position-x: 10%;
  height: 3%;
}
[data-certificat] [data-som] h2 {
  font-size: 17px;
  font-weight: bold;
  margin: 0;
  margin-left: 2rem;
  color: white;
}
[data-certificat] [data-content] {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
[data-certificat] [data-content] p {
  font-size: 18px;
  width: 85%;
}
[data-certificat] [data-imgContain] {
  object-fit: scale-down;
}
[data-certificat] [data-line] {
  display: flex;
  justify-content: center;
}
[data-certificat] [data-line] :nth-child(1) {
  margin-right: 26rem;
}
[data-certificat] [data-footerRes] {
  background: #161314 0% 0% no-repeat padding-box;
  height: 12%;
  z-index: -1;
  margin-top: 0.2rem;
}

[data-logo] {
  height: 29.7cm;
  width: 21cm;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

[data-notes] {
  height: 29.7cm;
  width: 21cm;
}
[data-notes] [data-headSommaire] {
  height: 15%;
  background: #0C090C 0% 0% no-repeat padding-box;
}
[data-notes] [data-som] {
  background-image: url(../../assets/barre.png);
  display: flex;
  align-items: center;
  align-content: center;
  background-repeat: no-repeat;
  background-position-y: 100%;
  background-position-x: 10%;
  height: 3%;
}
[data-notes] [data-som] h2 {
  font-size: 17px;
  font-weight: bold;
  margin: 0;
  margin-left: 2rem;
  color: white;
}
[data-notes] [data-content] {
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}
[data-notes] [data-content] [data-tray] {
  border: 0.5px solid #ECECEC;
  width: 90%;
}
[data-notes] [data-footerRes] {
  background: #161314 0% 0% no-repeat padding-box;
  height: 12%;
  z-index: -1;
}

[data-final] {
  height: 29.7cm;
  width: 21cm;
}
[data-final] [data-head] {
  height: 18%;
  background: #0C090C 0% 0% no-repeat padding-box;
}
[data-final] [data-content] {
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}
[data-final] [data-center] {
  font-size: 18px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  line-height: 0;
  font-weight: bold;
}
[data-final] [data-footerF] {
  height: 12%;
  background: #161314 0% 0% no-repeat padding-box;
}

[data-ps] {
  text-align: center;
  font: italic normal bold 12px/14px Montserrat;
}

/*# sourceMappingURL=livret.module.css.map */
