@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@page { size: auto;  margin: 0mm; }

@media print {
  body * {
    visibility: hidden;
  }

  [data-page2] {
    visibility: hidden;
  }

  [data-capture], [data-capture] * {
    visibility: visible;
  }

  [data-capture] {
    position: absolute;
    left: 0;
    top: 0;
  }
}

[data-ficheContainer] {
  display: grid;
  grid-template-columns: 30% auto auto;
  gap: 10rem;
  font-family: 'Montserrat', sans-serif;
  .container {
    width: 21cm;
    position: relative;
    font-family: 'Montserrat', sans-serif;
  }
  [data-contentF] {
    height: 64.35%;
  }
  [data-form] {
    margin: 1rem;
    fieldset:not([data-upload]) input{
      border:none;
      border-bottom:solid 1px gray;
      margin:0.8rem 0;
      width:15ch;
    }
    summary {
      font-size: 0.8rem;
    }
    [data-upload] {
      input {
        margin:0.8rem 0;
      }
      span {
        border:solid 2px red;
        border-radius: 50%;
        height: 1rem;
        width:1rem;
        text-align: center;
        margin-right: 0.6rem;
        line-height: 1rem;
      }
    }
    label {
      margin:0;
    }
    hr {
      border-style: dashed;
      border-color: gray;
    }
    [data-pictocontainer] {
      display: flex;
      flex-wrap: wrap;
      [data-minipicto] {
        margin:5px;
        border:solid 1px lightcoral;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        input {
          margin:0;
        }
      }  
    }
  }
}


[data-headerF] {
  background: #161314 0% 0% no-repeat padding-box;
  width: 100%;
  height: 12%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

[data-headerContF] {
  display: flex;
  flex-direction: column;
  img{
    width: 80px;
    height: auto;
  }
  h2 {
    text-align: center;
    font-size: 24px;
    margin: 0;
  }
  [data-line2h] {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -2rem;
    width:130px;
    h6 {
      font-size: 15px;
      font-weight: bold;
    }
    span {
      display: block !important;
      color: white;
      font-size: 15px;
      font-weight: bold;
    }
  }
  [data-entre] {
    margin: 0;
    width:130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -2rem;
    span {
      color: white;
      font-size: 15px;
      font-weight: bold;
      text-align: center;
    }
  }
  h3 {
    grid-row: 3;
    grid-column-start: 5;
    grid-column-end: 10;
  }
}

[data-gray] {
  background: #E5E5E5 0% 0% no-repeat padding-box;
  width: 100%;
  height: 240px;
}

[data-machine] {
  background: #AF0013 0% 0% no-repeat padding-box;
  box-shadow: 3px 2px 18px #04040573;
  border-radius: 5px;
  width: 80%;
  height: 240px;
  margin-left: 5rem;
  margin-top: -14rem;
  display: flex;
  img {
    margin-left: 5rem;
  }
  [data-specs] {
    padding: 1rem;
    color: white;
    p {
      font-size: 10px;
      font-weight: bold;
    }
    span {
      display: block !important;
      color: white;
      font-size: 9px;
      font-weight: normal;
    }
  }
}

[data-legend] {
  color: white;
  font-size: 9px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin-left: 1rem;
  margin-top: 1rem;
  width: 100%;
  gap: .5rem;
  margin: 0;
  div::before {
    display: flex;
    align-items: center;
    justify-content: center;
    content : attr(data-number) " ";
    border:solid 2px white;
    border-radius:100%;
    font-size:10px;
    display:inline-block;
    width:15px;
    height: 15px;
    text-align:center;
  }
}

[data-bar] {
  height: 163px;
  border: 1px solid #FFFFFF;
  margin-top: 2.5rem;
}

[data-iconsP] {
  width: 100%;
  display: flex;
  margin-top: 2rem;
  justify-content: space-evenly;
  align-items: center;
  [data-epi] {
    margin: 0;
    text-align: center;
    img {
      margin: 0;
      width: 40px;
    }
  }
  [data-risquesD] {
    margin: 0;
    text-align: center;
    img {
      width: 40px;
    }
  }
  [data-inter1] {
    margin: 0;
    text-align: center;
    img {
      width: 40px;
    }
  }
}

[data-grid] {
      width:21cm;
      margin:2.1rem auto;
      box-sizing:border-box;
      background-image: url('../../assets/barre.png');
      background-repeat: no-repeat;
      background-size: contain;
      box-sizing:border-box;
      display:grid;
      grid-template-columns: 66.94px 180px 190px 260px 96.79px;
      grid-template-rows:34.24px 131px;
    .empty1 {
      // background:black;
    }
    .empty2 {
      // background:#AF0013;
        :nth-child(even) {
          background: #000;
        }
    }
    .headerg {
      // background:#000;
      background-size: cover;
      background-position: bottom left;
      font-weight:bold;
      color:white;
      font-size:10px;
      p {
        margin:6.42px 3.84px 2.82px 0 ;
      }
    }

    .headerm {
      // background:#AF0013;
      color:white;
      font-size:10px;
      text-align:center;
      font-weight:bold;
      p {
        margin:12.42px 0 8.82px 0 ;
      }
    }
     .headerd {
      // background:#AF0013;
      color:white;
      font-size:10px;
      text-align:left;
      font-weight:bold;

       p {
         margin:6.42px 0 2.82px 0;
       }
    }
    [data-g] {
      grid-column:2;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      ul {
        padding:0;
        list-style: none;
        display:flex;
        flex-direction:column;
        line-height:15px;
        color: #161314;
        margin: 0;
        :nth-child(1) {
          font-style: bold;
        }
        :nth-child(3) {
          font-style: italic;
        }
        li {
          font-size: 11px;
          span {
            color: #161314;
            font-size: 10px;
            font-weight:bold;
            display:inline-block;
            margin:1px 0;
          }
        }
        // 8.3px 8.88px
      }
    }
    [data-m] {
      grid-column:3;
      box-sizing:border-box;
      display:flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-content: center;
      justify-content: center;
      width:100%;
      img {
        height:47px;
        width:47px;
        object-fit:cover;
        margin-top:12px;
        margin-right:12px;
      }
    }
    [data-d] {
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      grid-column:4;
      font-size: 11px;
      color: #161314;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      p {
        margin: 0;
      }
    }
    [data-nop] {
      visibility:hidden;
    }
    [data-g], [data-m], [data-d], .empty {
      border-bottom:black solid 1px;
    }
  }

  [data-footer] {
    margin-top: 12.8rem;
    height: 48px;
    background: #161314 0% 0% no-repeat padding-box;
  }

  [data-footer2] {
    width: 100%;
    margin-top: 9.4rem;
    height: 10%;
    background: #161314 0% 0% no-repeat padding-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    img {

    }
    [data-fflex] {
      display: flex;
      justify-content: center;
      gap: 2rem;
    }
    [data-qualif] {
      color: white;
      width: 252px;
      height: 55px;
      background: #AF0013 0% 0% no-repeat padding-box;
      box-shadow: 8px 7px 8px #04040573;
      border-radius: 12px;
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      margin-top: -3rem;
      [data-qualit] h3{
        font-size: 11px;
      }
      [data-qualit] p {
        font-size: 11px;
        font-weight: normal;
        margin-top: -0.5rem;
      }
    }
    [data-formatf] {
      color: white;
      width: 252px;
      height: 55px;
      background: #AF0013 0% 0% no-repeat padding-box;
      box-shadow: 8px 7px 8px #04040573;
      border-radius: 12px;
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      margin-top: -3rem;
      [data-formatt] h3{
        font-size: 11px;
      }
      [data-formatt] p {
        font-size: 11px;
        font-weight: normal;
        margin-top: -0.5rem;
      }
    }
    [data-secours] {
      width: 30%;
      display: flex;
      color: white;
      align-items: center;
      img {
        padding-right: 1rem;
      }
      [data-secourst] h3 {
        font-size: 11px;
        font-weight: bolder;
        width: 90%;
      }
      [data-secourst] p {
        font-size: 11px;
        font-weight: bold;
      }
    }
    [data-incend] {
      width: 30%;
      display: flex;
      align-items: center;
      color: white;
      img {
        padding-right: 1rem;
      }
      [data-incendt] h3 {
        font-size: 11px;
        font-weight: bolder;
      }
      [data-incendt] p {
        font-size: 11px;
        font-weight: bold;
      }
    }
  }

[data-sep] {
  width: 1px;
  height: 45px;
  background: white;
}

[data-machinev] {
  background: #AF0013 0% 0% no-repeat padding-box;
  box-shadow: 3px 2px 18px #04040573;
  border-radius: 5px;
  width: 80%;
  height: 240px;
  margin-left: 5rem;
  margin-top: -12rem;
  display: flex;
  align-items: center;
  [data-specsv] {
    padding: 1rem;
    color: white;
    p {
      font-size: 10px;
      font-weight: bold;
    }
    span {
      display: block !important;
      color: white;
      font-size: 9px;
      font-weight: normal;
    }
  }
}

[data-rsecv] {
  display: flex;
}

[data-legendv] {
  color: white;
  font-size: 9px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  justify-content: space-evenly;
  text-align: left;
  div::before {
    display: flex;
    align-items: center;
    justify-content: center;
    content : attr(data-number) " ";
    border:solid 2px white;
    border-radius:100%;
    font-size:10px;
    display:inline-block;
    width:15px;
    height: 15px;
    text-align:center;
  }
}

[data-barv] {
  height: 163px;
  border: 1px solid #FFFFFF !important;
  margin-right: 1rem;
}

[data-page2] {
  height: 29.7cm;
  width: 21cm;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}

[data-grid1] {
      width:21cm;
      margin:2.1rem auto;
      box-sizing:border-box;
      // here goes the sun
      background-image: url('../../assets/barre.png');
      background-repeat: no-repeat;
      background-size: contain;
      display:grid;
      grid-template-columns: 66.94px 180px 190px 260px 96.79px;
      grid-template-rows:34.24px 131px 131px 131px 131px 150.6px;
    .empty1 {
      // background:black;
    }
    .empty2 {
      // background:#AF0013;
    }
    .headerg {
      // background:#000;
      background-size: cover;
      background-position: bottom left;
      font-weight:bold;
      color:white;
      font-size:10px;
      p {
        margin:6.42px 3.84px 2.82px 0 ;
      }
    }

    .headerm {
      // background:#AF0013;
      color:white;
      font-size:10px;
      text-align:center;
      font-weight:bold;
      p {
        margin:12.42px 0 8.82px 0 ;
      }
    }
     .headerd {
      // background:#AF0013;
      color:white;
      font-size:10px;
      text-align:left;
      font-weight:bold;

       p {
         margin:6.42px 0 2.82px 0;
       }
    }
    [data-g] {
      grid-column:2;
      ul {
        padding:0;
        margin:8.3px 0 8.88px 0;
        list-style: none;
        display:flex;
        flex-direction:column;
        line-height:15px;
        margin-top: 1.5rem;
        color: #161314;
        li {
          font-size: 9px;
          span {
            color: #161314;
            font-size: 10px;
            font-weight:bold;
            display:inline-block;
            margin:1px 0;
          }
        }
        // 8.3px 8.88px
      }
    }
    [data-m] {
      grid-column:3;
      box-sizing:border-box;
      display:flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-content: center;
      justify-content: center;
      width:100%;
      img {
        height:47px;
        width:47px;
        object-fit:cover;
        margin-top:12px;
        margin-right:12px;
      }
    }
    [data-d] {
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      grid-column:4;
      font-size: 10px;
      color: #161314;
      p {
        margin: 0;
      }
    }
    [data-nop] {
      visibility:hidden;
    }
    [data-g], [data-m], [data-d], .empty {
      border-bottom:black solid 1px;
    }
  }
