.container {
    display: flex;
    flex-direction: row;
}

.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    width: 40%;
}

a {
    text-decoration: none;
}

.show img{
    width: 50% !important;
}