.container {
  border: 2px solid black;
  height: 29.7cm;
  width: 21cm;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}

.first {
  width: 100%;
  height: 127px;
  background: #161314 0% 0% no-repeat padding-box;
  color: white;
}

.fwrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 55px;
  padding-top: 1rem;
}

.fwrapper img{
  object-fit: fill;
}

.ftxt{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.first p {
  color: white;
  font-weight: bold;
  font-size: 13px;
  align-items: center;
  text-align: center;
  width: 30%;
  letter-spacing: 0px;
}

.fiche {
  font-size: 14px;
}

.first span {
  display: block !important;
  color: white;
}

.txt {
  color: white;
  display: flex;
  flex-direction: column;
  line-height: 0;
  margin-left: 1%;
}

.containerDeux {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 319px;
  background: #E5E5E5 0% 0% no-repeat padding-box;
}

.containerDeux img {
  position: absolute;
  left: 20rem;
  top: 11rem;
  width: 330px;
  height: 250px;
}

.second {
  margin-top: 20rem;
  width: 80%;
  height: 280px;
  background-color: #AF0013;
  border-radius: 5px;
  padding-top: 1rem;
  padding-left: 3rem;
  display: flex;
  flex-direction: row;
  box-shadow: 3px 2px 18px #04040573;
}

.specs {
  color: white;
  width: 10vw;
  margin-right: 2.5rem;
  font-weight: bold;
  font-size: 10px;
  margin-top: 1rem;
}

.specs span {
display: block !important;
font-weight: normal;
color: white;
font-size: 9px;
}

.bar {
  width: 2px;
  height: 6rem;
  background-color: white;
  margin-right: 2rem;
}

.machine {
  display: flex;
  flex-direction: row;
  margin-top: 9rem;
  margin-left: 3rem;
  width: 20vw;
  height: 10vh;
}

.machine .txt {
  text-align: left;
  font-size: 9px;
  margin-top: 1rem;
}

.machine .txt1 {
  color: white;
  text-align: left;
  font-size: 9px;
  margin-left: 2rem;
}

.containerTrois {
  display: flex !important;
  flex-direction: row !important;
  margin-top: 11rem;
  margin-left: 3.5rem;
}

.epi{
  width: 20vw;
}

.epi h2 {
  font-size: 14px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  color: #161615
}

.inter{
  width: 20vw;
}

.inter h2 {
  font-size: 14px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  color: #161615
}

.containerQuatre {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 21cm;
}
