.container {
  border: 2px solid black;
  height: 29.7cm;
  width: 21cm;
  position: relative;
  font-family: "Montserrat", sans-serif;
}

[data-header] {
  background: #161314 0% 0% no-repeat padding-box;
  width: 100%;
  height: 127px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
}
[data-header] img {
  margin-top: 1.5rem;
  margin-left: 21rem;
  width: 150px;
  height: 50px;
}

[data-headerCont] {
  display: flex;
  justify-content: space-around;
}
[data-headerCont] h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 10px;
}
[data-headerCont] h4 {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}
[data-headerCont] span {
  display: block !important;
  text-align: center;
  color: white;
}

[data-gray] {
  background: #E5E5E5 0% 0% no-repeat padding-box;
  width: 100%;
  height: 240px;
}

[data-machine] {
  background: #AF0013 0% 0% no-repeat padding-box;
  box-shadow: 3px 2px 18px #04040573;
  border-radius: 5px;
  width: 80%;
  height: 240px;
  margin-left: 5rem;
  margin-top: -9rem;
  display: flex;
}
[data-machine] img {
  margin-left: 5rem;
  margin-top: -2rem;
}
[data-machine] [data-specs] {
  padding: 1rem;
  color: white;
}
[data-machine] [data-specs] p {
  font-size: 10px;
  font-weight: bold;
}
[data-machine] [data-specs] span {
  display: block !important;
  color: white;
  font-size: 9px;
  font-weight: normal;
}

[data-legend] {
  color: white;
  font-size: 9px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  line-height: 5px;
  margin-left: 4rem;
  margin-top: 1rem;
  width: 100%;
}

[data-bar] {
  height: 163px;
  border: 1px solid #FFFFFF;
  margin-top: 2.5rem;
}

[data-icons] {
  width: 70%;
  height: 74px;
  display: flex;
  margin-top: 2rem;
  margin-left: 7.5rem;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

[data-obli] {
  line-height: 0;
}
[data-obli] h3 {
  letter-spacing: 0px;
  color: #161615;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-align: center;
}

[data-inter] {
  line-height: 0;
}
[data-inter] h3 {
  letter-spacing: 0px;
  color: #161615;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-align: center;
}

[data-grid] {
  width: 21cm;
  margin: 2.1rem auto;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 66.94px 180px 190px 260px 96.79px;
  grid-template-rows: 34.24px 131px;
}
[data-grid] .empty1 {
  background: black;
}
[data-grid] .empty2 {
  background: #AF0013;
}
[data-grid] .headerg {
  background: #000;
  background-size: cover;
  background-position: bottom left;
  font-weight: bold;
  color: white;
  font-size: 10px;
}
[data-grid] .headerg p {
  margin: 6.42px 3.84px 2.82px 0;
}
[data-grid] .headerm {
  background: #AF0013;
  color: white;
  font-size: 10px;
  text-align: center;
  font-weight: bold;
}
[data-grid] .headerm p {
  margin: 12.42px 0 8.82px 0;
}
[data-grid] .headerd {
  background: #AF0013;
  color: white;
  font-size: 10px;
  text-align: left;
  font-weight: bold;
}
[data-grid] .headerd p {
  margin: 6.42px 0 2.82px 0;
}
[data-grid] [data-g] {
  grid-column: 2;
}
[data-grid] [data-g] ul {
  padding: 0;
  margin: 8.3px 0 8.88px 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  line-height: 15px;
  color: #161314;
}
[data-grid] [data-g] ul li {
  font-size: 9px;
}
[data-grid] [data-g] ul li span {
  color: #161314;
  font-size: 10px;
  font-weight: bold;
  display: inline-block;
  margin: 1px 0;
}
[data-grid] [data-m] {
  grid-column: 3;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  width: 100%;
}
[data-grid] [data-m] img {
  height: 47px;
  width: 47px;
  object-fit: cover;
  margin-top: 12px;
  margin-right: 12px;
}
[data-grid] [data-d] {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  grid-column: 4;
  font-size: 10px;
  color: #161314;
}
[data-grid] [data-nop] {
  visibility: hidden;
}
[data-grid] [data-g], [data-grid] [data-m], [data-grid] [data-d], [data-grid] .empty {
  border-bottom: black solid 1px;
}

[data-footer] {
  margin-top: 12.8rem;
  height: 56px;
  background: #161314 0% 0% no-repeat padding-box;
}

[data-footer2] {
  width: 100%;
  margin-top: 9.4rem;
  height: 109px;
  background: #161314 0% 0% no-repeat padding-box;
  display: flex;
  justify-content: center;
}

[data-sep] {
  width: 1px;
  height: 45px;
  background: white;
}

/*# sourceMappingURL=fiche.module.css.map */
