@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

[data-livret] {
    font-family: 'Montserrat', sans-serif;
}

[data-containerCouverture] {
  width: 419px;
  height: 595px;
  border: 1px solid black;
}

[data-livretH] {
  width: 419px;
  height: 101px;
  background: #0C090C 0% 0% no-repeat padding-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  h1 {
    color: var(--unnamed-color-ffffff);
    text-align: left;
    letter-spacing: 0px;
    color: #FFFFFF;
    font-size: 18px;
  }
  [data-imgLogo] {
    margin-top: 1rem;
    width: 85px;
    height: 24px;
    object-fit: fill;
    img {
      width: 85px;
      height: 24px;
    }
  }
}

[data-lgray] {
  background: #DEDEDE 0% 0% no-repeat padding-box;
  width: 419px;
  height: 246px;
}

[data-square] {
  margin-top: -10rem;
  margin-left: 4.5rem;
  width: 276px;
  height: 234px;
  background: #161314 0% 0% no-repeat padding-box;
  box-shadow: 7px 7px 8px #0404055E;
  border-radius: 11px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    margin-top: -3.5rem;
  }
  [data-ps] {
    text-align: center;
    font: italic normal bold 9px/11px Montserrat;
  }
  [data-descp] p{
    text-align: center;
    letter-spacing: 0px;
    font-size: 10px !important;
    font-weight: medium !important;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

[data-lfooter] {
  margin-top: 2.6rem;
  height: 133px;
  background: #161314 0% 0% no-repeat padding-box;
  color: white;
  font-size: 9px;
  font-weight: medium;
  p {
    width: 40%;
    margin-left: 0.5rem;
  }
}

[data-contact] {
  background-image: url(../assets/barre.png);
  display: flex;
  align-items: center;
  align-content: center;
  background-repeat: no-repeat;
  background-position-x: 25%;
  background-position-y: center;
  height: 25px;
  h2 {
    font-size: 12px;
    margin: 0;
    margin-left: .5rem;

  }
}

// FIN data-containerCouverture

//SOMMAIRE

[data-containerSommaire] {
  width: 419px;
  height: 595px;
  border: 1px solid black;
  [data-headSommaire] {
    height: 65px;
    background: #0C090C 0% 0% no-repeat padding-box;
  }
  [data-som] {
    background-image: url(../assets/barre.png);
    display: flex;
    align-items: center;
    align-content: center;
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-position-x: 10%;
    height: 25px;
    h2 {
      font-size: 12px;
      margin: 0;
      margin-left: .5rem;
      color: white;
    }
  }
  [data-mid] {
    height: 417px;
    [data-rightGray] {
      height: 333px;
      background: #DEDEDE 0% 0% no-repeat padding-box;
      position: relative;
      top: 12%;
    }
    [data-redLeft] {
      position: relative;
      top: -78%;
      width: 154px;
      height: 417px;
      background: #A50408 0% 0% no-repeat padding-box;
      box-shadow: 4px 5px 14px #00000038;
      border-radius: 0px 10px 10px 0px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      text-align: right;
      [data-leftC] {
        background: #C40005 0% 0% no-repeat padding-box;
        border-radius: 0px 10px 10px 0px;
        width: 349px;
        height: 19px;
        font-size: 10px;
        color: white;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: flex-end;
      }
    }
  }
  [data-fsommaire] {
    margin-top: 1rem;
    height: 74px;
    background: #161314 0% 0% no-repeat padding-box;
  }
}

//FIN SOMMAIRE

//REISEIGN

[data-renseigment] {
  width: 419px;
  height: 595px;
  border: 1px solid black;
  [data-headSommaire] {
    height: 65px;
    background: #0C090C 0% 0% no-repeat padding-box;
  }
  [data-som] {
    background-image: url(../assets/barre.png);
    display: flex;
    align-items: center;
    align-content: center;
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-position-x: 10%;
    height: 25px;
    h2 {
      font-size: 12px;
      margin: 0;
      margin-left: .5rem;
      color: white;
    }
  }
  [data-mid] {
    height: 417px;
    [data-rightGray] {
      height: 333px;
      background: #DEDEDE 0% 0% no-repeat padding-box;
      position: relative;
      top: 3%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1rem;
      color: #0c090c;
      font-size:10px;
      p {
        width: 50%;
        margin: 0;
        margin-left: 11.5rem;
      }
    }
    [data-redLeft] {
      position: relative;
      top: -78%;
      width: 126px;
      height: 346px;
      background: #A50408 0% 0% no-repeat padding-box;
      box-shadow: 4px 5px 14px #00000038;
      border-radius: 0px 10px 10px 0px;
      opacity: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      gap: .5rem;
    }
    [data-leftC] {
      width: 150px;
      height: 20px;
      background: #C40005 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
      border: 2px solid #FFFFFF;
      border-radius: 0px 18px 18px 0px;
      p {
        font-size: 9px;
        color: white;
        margin-left: .5rem;
        margin-top: 3px;
      }
    }
  }
  [data-rfooter] {
    position: relative;
    top: -45px;
    background-image: url(../assets/barre.png);
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-position-x: 10%;
    height: 25px;
    width: 100%;
    align-items: center;
    h2 {
      margin: 0;
      font-size: 12px;
      margin-left: .5rem;
      margin-top: .3rem;
      color: white;
      width: 100% !important;
    }
    [data-cont]{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        margin: 0;
        border: 4px solid #0C090C;
        border-radius: 0px 0px 10px 10px;
      }
    }
  }
}

// FIN REISEIGN

//RESPONSABILITE

[data-responsabilite] {
  width: 419px;
  height: 595px;
  border: 1px solid black;
  [data-headSommaire] {
    height: 65px;
    background: #0C090C 0% 0% no-repeat padding-box;
  }
  [data-som] {
    background-image: url(../assets/barre.png);
    display: flex;
    align-items: center;
    align-content: center;
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-position-x: 10%;
    height: 25px;
    h2 {
      font-size: 12px;
      margin: 0;
      margin-left: .5rem;
      color: white;
    }
  }
  [data-responCont] {
    width: 419px;
    height: 156px;
    background: #DEDEDE 0% 0% no-repeat padding-box;
    position: absolute;
    [data-title] {
      width: 256px;
      height: 32px;
      background: #161314;
      border-radius: 0px 0px 10px 10px;
      position: relative;
      top: 0%;
      left: 22%;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      h1 {
        font-size: 11px;
        letter-spacing: 0px;
        color: #FFFFFF;
      }
    }
    [data-wrapArtic] {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      position: relative;
      top: 20%;
      [data-artic1] {
        width: 118px;
        height: 164px;
        background: #BCBCBC 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        border: 2px solid #FFFFFF;
        border-radius: 10px;
        [data-bouble] {
          position: relative;
          top: -15%;
          left: 30%;
          display: flex;
          align-items: center;
          align-content: center;
          justify-content: center;
          color: white;
          font-size: 35px;
          width: 47px;
          height: 47px;
          background: #BCBCBC 0% 0% no-repeat padding-box;
          border: 2px solid #FFFFFF;
          border-radius: 50%;
        }
        p {
          position: relative;
          top: -18%;
          font-size: 9px;
          color: white;
          text-align: center;
        }
      }
      [data-artic2] {
        width: 118px;
        height: 164px;
        background: #0C090C 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        border: 2px solid #FFFFFF;
        border-radius: 10px;
        [data-bouble] {
          position: relative;
          top: -15%;
          left: 30%;
          display: flex;
          align-items: center;
          align-content: center;
          justify-content: center;
          color: white;
          font-size: 35px;
          width: 47px;
          height: 47px;
          background: #0C090C 0% 0% no-repeat padding-box;
          border: 2px solid #FFFFFF;
          border-radius: 50%;
        }
        p {
          position: relative;
          top: -18%;
          font-size: 9px;
          color: white;
          text-align: center;
        }
      }
      [data-artic3] {
        width: 118px;
        height: 164px;
        background: #C40005 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        border: 2px solid #FFFFFF;
        border-radius: 10px;
        [data-bouble] {
          position: relative;
          top: -15%;
          left: 30%;
          display: flex;
          align-items: center;
          align-content: center;
          justify-content: center;
          color: white;
          font-size: 35px;
          width: 47px;
          height: 47px;
          background: #C40005 0% 0% no-repeat padding-box;
          border: 2px solid #FFFFFF;
          border-radius: 50%;
        }
        p {
          position: relative;
          top: -18%;
          font-size: 9px;
          color: white;
          text-align: center;
        }
      }
    }
    [data-salWrap] {
      border-top: 2px solid #0C090C;
      position: relative;
      top: 28%;
      [data-cont] {
        display: flex;
        align-content: center;
        justify-content: center;
        text-align: center;
        p {
          margin-top: 0.5rem;
          font-size: 9px;
          width: 80%;
          text-align: center;
        }
      }
      [data-artic4] {
        margin-top: 0.6rem;
        margin-left: 0.8rem;
        width: 388px;
        height: 115px;
        background: #ECECEC 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        border: 2px solid #FFFFFF;
        border-radius: 10px;
        [data-bouble] {
          position: relative;
          top: -19%;
          left: 45%;
          display: flex;
          align-items: center;
          align-content: center;
          justify-content: center;
          color: white;
          font-size: 35px;
          width: 47px;
          height: 47px;
          background: #ECECEC 0% 0% no-repeat padding-box;
          border: 2px solid #FFFFFF;
          border-radius: 50%;
        }
        p {
          position: relative;
          top: -20%;
          font-size: 9px;
          color: #161314;
          text-align: center;
          line-height: 1.1;
        }
      }
    }
  }
  [data-rfooter] {
    background: #161314 0% 0% no-repeat padding-box;
    height: 74px;
    margin-top: 0.75rem;
  }
}

//FIN RESPONSABILITE


//REGLES

[data-regles] {
  width: 419px;
  height: 595px;
  border: 1px solid black;
  [data-headSommaire] {
    height: 55.5px;
    background: #0C090C 0% 0% no-repeat padding-box;
  }
  [data-som] {
    background-image: url(../assets/barre.png);
    display: flex;
    align-items: center;
    align-content: center;
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-position-x: 10%;
    height: 25px;
    h2 {
      font-size: 12px;
      margin: 0;
      margin-left: .5rem;
      color: white;
    }
  }
  [data-listRegles] {
    margin-left: 2.7rem;
    background: #0C090C 0% 0% no-repeat padding-box;
    border-radius: 0px 0px 10px 10px;
    opacity: 1;
    width: 339px;
    height: 178px;
    color: white;
    font-size: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      width: 80%;
    }
  }
  [data-listPartn] {
    border-top: 2px solid #0C090C;
    margin-top: 1rem;
    [data-title] {
      width: 256px;
      height: 32px;
      background: #161314 0% 0% no-repeat padding-box;
      border-radius: 0px 0px 10px 10px;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      margin-left: 5.3rem;
      h1 {
        font-size: 11px;
        color: white;
      }
    }
    [data-partnGrid] {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 106px 106px;
      align-items: center;
      align-content: center;
      margin-left: 1rem;
      [data-partner] {
        background: #ECECEC 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        border: 2px solid #FFFFFF;
        border-radius: 9px;
        width: 118px;
        height: 86px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p {
          margin: 0;
        }
        [data-func] {
          color: #C40005;
          font-size: 9px;
          font-weight: bold;
          text-align: center;
        }
        [data-name] {
          font-size: 9px;
          color: #161314;
        }
      }
    }
  }
  [data-fregles] {
    height: 74px;
    background: #161314 0% 0% no-repeat padding-box;
  }
}

//FIN REGLES

// restauration

[data-restauration] {
  width: 419px;
  height: 595px;
  border: 1px solid black;
  [data-headSommaire] {
    height: 55.5px;
    background: #0C090C 0% 0% no-repeat padding-box;
  }
  [data-som] {
    background-image: url(../assets/barre.png);
    display: flex;
    align-items: center;
    align-content: center;
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-position-x: 10%;
    height: 25px;
    h2 {
      font-size: 12px;
      margin: 0;
      margin-left: .5rem;
      color: white;
    }
  }
  [data-contain] {
    display: flex;
  }
  [data-leftR] {
    margin-top: 1rem;
    background: #A50408 0% 0% no-repeat padding-box;
    box-shadow: 4px 5px 14px #00000038;
    border-radius: 0px 10px 10px 0px;
    height: 417px;
    width: 133px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    color: white;
    font-size: 35px;
  }
  [data-rightR] {
    width: 286px;
    height: 390px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    [data-elem1] {
      background: #FFFFFF 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
      height: 71px;
      margin-top: 3rem;
      box-shadow: 0px 3px 6px #00000029;
      p {
        letter-spacing: 0px;
        color: #161314;
        font-size: 9px;
        text-align: center;
      }
    }
    [data-elem2] {
      background: #ECECEC 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
      height: 71px;
      p {
        letter-spacing: 0px;
        color: #161314;
        font-size: 9px;
        text-align: center;
      }
    }
    [data-elem3] {
      background: #FFFFFF 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
      box-shadow: 0px 3px 6px #00000029;
      height: 71px;
      p {
        letter-spacing: 0px;
        color: #161314;
        font-size: 9px;
        text-align: center;
      }
    }
    [data-elem4] {
      background: #ECECEC 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
      height: 71px;
      p {
        letter-spacing: 0px;
        color: #161314;
        font-size: 9px;
        text-align: center;
      }
    }
    [data-elem5] {
      background: #FFFFFF 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
      height: 71px;
      box-shadow: 0px 3px 6px #00000029;
      p {
        letter-spacing: 0px;
        color: #161314;
        font-size: 9px;
        text-align: center;
      }
    }
  }
  [data-footerRes] {
    background: #161314 0% 0% no-repeat padding-box;
    height: 74px;
    margin-top: 2px;
  }
}

//FIN restauration
// EQUIPMENT

[data-equip] {
  width: 419px;
  height: 595px;
  border: 1px solid black;
  [data-headSommaire] {
    height: 55.5px;
    background: #0C090C 0% 0% no-repeat padding-box;
  }
  [data-som] {
    background-image: url(../assets/barre.png);
    display: flex;
    align-items: center;
    align-content: center;
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-position-x: 10%;
    height: 25px;
    h2 {
      font-size: 12px;
      margin: 0;
      margin-left: .5rem;
      color: white;
    }
  }
  [data-content] {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
  [data-noir] {
    width: 339px;
    height: 90px;
    background: #0C090C 0% 0% no-repeat padding-box;
    border-radius: 0px 0px 10px 10px;
    p {
      font-size: 9px;
      color: white;
      width: 90%;
      margin-left: 1rem;
      text-align: center;
    }
  }
  [data-epi] {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 11rem);
    gap: 1rem;
    [data-card] {
      width: 118px;
      height: 130px;
      background: #ECECEC 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 10px;
      img {
        position: relative;
        top: -3.5rem;
        left: 1.5rem;
      }
      p {
        width: 90%;
        font-size: 8px;
        text-align: center;
        margin-top: -4rem;
        margin-left: 5px;
      }
    }
  }
  [data-footerRes] {
    background: #161314 0% 0% no-repeat padding-box;
    height: 74px;
    margin-top: -5.1rem;
    z-index: -1;
  }
}

// FIN EQUIPMENT

// EQUIPMENT V2

[data-equipv2] {
  width: 419px;
  height: 595px;
  border: 1px solid black;
  [data-headSommaire] {
    height: 55.5px;
    background: #0C090C 0% 0% no-repeat padding-box;
  }
  [data-som] {
    background-image: url(../assets/barre.png);
    display: flex;
    align-items: center;
    align-content: center;
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-position-x: 10%;
    height: 25px;
    h2 {
      font-size: 12px;
      margin: 0;
      margin-left: .5rem;
      color: white;
    }
  }
  [data-content] {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    p {
      font-size: 9px;
      text-align: center;
      width: 80%;
      margin-top: -2rem;
    }
  }
  [data-epi] {
    margin-top: 3.2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 10.5rem);
    gap: 1rem;
    :nth-child(4) {
      grid-column: 2;
    }
    [data-card] {
      width: 118px;
      height: 130px;
      background: #ECECEC 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 10px;
      img {
        position: relative;
        top: -3.5rem;
        left: 1.5rem;
      }
      p {
        width: 90%;
        font-size: 8px;
        text-align: center;
        margin-top: -4rem;
        margin-left: 5px;
      }
    }
  }
  [data-picto] img{
    position: absolute;
    left: 13.5rem;
    margin-top: -0.5rem;
    z-index: 1;
  }
  [data-footerRes] {
    background: #161314 0% 0% no-repeat padding-box;
    height: 74px;
    z-index: -1;
    margin-top: 1.4rem;
  }
}

//FIN EQUIPV2

//risques

[data-risques] {
  width: 419px;
  height: 595px;
  border: 1px solid black;
  [data-headSommaire] {
    height: 55.5px;
    background: #0C090C 0% 0% no-repeat padding-box;
  }
  [data-som] {
    background-image: url(../assets/barre.png);
    display: flex;
    align-items: center;
    align-content: center;
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-position-x: 10%;
    height: 25px;
    h2 {
      font-size: 12px;
      margin: 0;
      margin-left: .5rem;
      color: white;
    }
  }
  [data-contentR] {
    display: flex;
    flex-direction: column;
    align-items: center;
    [data-noirC]{
      width: 219px;
      height: 79px;
      background: #0C090C 0% 0% no-repeat padding-box;
      border-radius: 0px 0px 10px 10px;
      display: flex;
      justify-content: center;
      img {
        height: 136px;
      }
    }
    [data-danger] {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      img {
        margin-right: 1rem;
      }
    }
    [data-grayd] {
      height: 199px;
      background: #ECECEC 0% 0% no-repeat padding-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p {
        font-size: 9px;
        text-align: left;
        margin: 0;
      }
      ul {
        font-size: 9px;
        list-style: none;
        width: 70%;
        font-weight: medium;
      }
      span {
        font-weight: bold;
        color: #161314;
      }
      [data-title] {
        margin-left: -7rem;
        margin-top: 1rem;
        font-weight: bold;
      }
    }
    [data-white] {
      display: flex;
      flex-direction: column;
      justify-content: center;
      [data-title] {
        margin-top: 1rem;
        font-weight: bold;
        margin-left: .8rem;
      }
      p {
        font-size: 9px;
        text-align: left;
        margin: 0;
      }
      ul {
        font-size: 9px;
        list-style: none;
        width: 90%;
        font-weight: medium;
        margin-left: -1rem;
      }
    }
  }

  [data-footerRes] {
    background: #161314 0% 0% no-repeat padding-box;
    height: 74px;
    z-index: -1;
    margin-top: .4rem;
  }
}

[data-risquesv2] {
  width: 419px;
  height: 595px;
  border: 1px solid black;
  [data-headSommaire] {
    height: 55.5px;
    background: #0C090C 0% 0% no-repeat padding-box;
  }
  [data-som] {
    background-image: url(../assets/barre.png);
    display: flex;
    align-items: center;
    align-content: center;
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-position-x: 10%;
    height: 25px;
    h2 {
      font-size: 12px;
      margin: 0;
      margin-left: .5rem;
      color: white;
    }
  }
  [data-contentR] {
    display: flex;
    flex-direction: column;
    align-items: center;
    [data-noirC]{
      width: 219px;
      height: 79px;
      background: #0C090C 0% 0% no-repeat padding-box;
      border-radius: 0px 0px 10px 10px;
      display: flex;
      justify-content: center;
      img {
        height: 112px;
      }
    }
    [data-danger] {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      img {
        margin-right: 1rem;
      }
    }
    [data-grayd] {
      width: 419px;
      height: 71px;
      background: #ECECEC 0% 0% no-repeat padding-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      p {
        font-size: 9px;
        margin: 0;
      }
      ul {
        font-size: 9px;
        list-style: none;
        width: 70%;
        font-weight: medium;
      }
      span {
        font-weight: bold;
        color: #161314;
      }
      [data-title] {
        margin-left: -7rem;
        margin-top: 1rem;
        font-weight: bold;
      }
    }
    [data-whiteF] {
      display: flex;
      flex-direction: column;
      justify-content: center;
      [data-title] {
        margin-top: 1rem;
        font-weight: bold;
        margin-left: .8rem;
      }
      p {
        font-size: 9px;
        text-align: left;
        margin: 0;
      }
      ul {
        font-size: 9px;
        list-style: none;
        width: 90%;
        font-weight: medium;
        margin-left: -1rem;
      }
    }
    [data-agray] {
      width: 419px;
      height: 71px;
      background: #ECECEC 0% 0% no-repeat padding-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      p {
        font-size: 9px;
        margin: 0;
      }
      ul {
        font-size: 9px;
        list-style: none;
        width: 70%;
        font-weight: medium;
      }
      span {
        font-weight: bold;
        color: #161314;
      }
      [data-title] {
        margin-left: -7rem;
        margin-top: 1rem;
        font-weight: bold;
      }
    }
  }

  [data-footerRes] {
    background: #161314 0% 0% no-repeat padding-box;
    height: 74px;
    z-index: -1;
    margin-top: .4rem;
  }
}

[data-bold] {
  font-weight: bold;
}
//FIN RISQUES

// EQUIPPERSONNEL

[data-equipPersonnel] {
  width: 419px;
  height: 595px;
  border: 1px solid black;
  [data-headSommaire] {
    height: 55.5px;
    background: #0C090C 0% 0% no-repeat padding-box;
  }
  [data-som] {
    background-image: url(../assets/barre.png);
    display: flex;
    align-items: center;
    align-content: center;
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-position-x: 10%;
    height: 25px;
    h2 {
      font-size: 12px;
      margin: 0;
      margin-left: .5rem;
      color: white;
    }
  }
  [data-content] {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
  [data-noir] {
    width: 339px;
    height: 90px;
    background: #0C090C 0% 0% no-repeat padding-box;
    border-radius: 0px 0px 10px 10px;
    p {
      font-size: 9px;
      color: white;
      text-align: center;
      width: 90%;
      display: flex;
      margin-left: 1rem;
    }
  }
  [data-epi] {
    margin-top: 6rem;
    display: flex;
    gap: 1rem;
    [data-card] {
      width: 118px;
      height: 130px;
      background: #ECECEC 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 10px;
      img {
        position: relative;
        top: -3.5rem;
        left: 1.5rem;
      }
      p {
        width: 90%;
        font-size: 8px;
        text-align: center;
        margin-top: -4rem;
        margin-left: 5px;
      }
    }
  }
  [data-para] {
    font-size: 9px;
    text-align: center;
    width: 85%;
    margin-top: 2rem;
  }
  [data-picto] {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    img {
      margin-top: -2rem;
    }
  }
  [data-footerRes] {
    background: #161314 0% 0% no-repeat padding-box;
    height: 74px;
    z-index: -1;
    margin-top: 2.8rem;
  }
}

// FIN EQUIPPERSONNEL

//accident

[data-accident] {
  width: 419px;
  height: 595px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  [data-headSommaire] {
    height: 55.5px;
    background: #0C090C 0% 0% no-repeat padding-box;
  }
  [data-som] {
    background-image: url(../assets/barre.png);
    display: flex;
    align-items: center;
    align-content: center;
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-position-x: 10%;
    height: 25px;
    h2 {
      font-size: 12px;
      margin: 0;
      margin-left: .5rem;
      color: white;
    }
  }
  [data-content] {
    display: grid;
    grid-template-columns: repeat(2, 151px);
    grid-template-rows: repeat(2, 170px);
    gap: 1rem;
    margin-left: 3rem;
    margin-top: 1.5rem;
    [data-first] {
      width: 151px;
      height: 143px;
      border: 2px solid white;
      background: #161314 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
      border: 2px solid #FFFFFF;
      border-radius: 10px;
      grid-row: 1;
      grid-column: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        font-size: 11px;
        color: white;
        width: 80%;
        text-align: center;
      }
      [data-num1] {
        color: white;
        font-size: 16px;
        font-weight: bold;
        background: #0C090C 0% 0% no-repeat padding-box;
        border: 2px solid #FFFFFF;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -1.5rem;
      }
    }
    [data-second] {
      width: 151px;
      height: 155px;
      border: 2px solid white;
      background: #161314 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
      border: 2px solid #FFFFFF;
      border-radius: 10px;
      grid-row: 2;
      grid-column: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        font-size: 11px;
        color: white;
        width: 80%;
        text-align: center;
      }
      [data-num1] {
        color: white;
        font-size: 16px;
        font-weight: bold;
        background: #0C090C 0% 0% no-repeat padding-box;
        border: 2px solid #FFFFFF;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -1.5rem;
      }
    }
    [data-third] {
      width: 151px;
      height: 340px;
      border: 2px solid white;
      background: #161314 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
      border: 2px solid #FFFFFF;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        margin-left: 1rem;
        color: white;
      }
      [data-num1] {
        color: white;
        font-size: 16px;
        font-weight: bold;
        background: #0C090C 0% 0% no-repeat padding-box;
        border: 2px solid #FFFFFF;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -1.5rem;
      }
      li {
        font-size: 9px;
        color: white;
        margin-left: -.8rem;
        width: 90%;
      }
      [data-nums] {
        background: #ECECEC 0% 0% no-repeat padding-box;
        border-radius: 10px;
        width: 136px;
        height: 103px;
        display: flex;
        flex-direction: column;
        margin-left: .5rem;
        [data-line] {
          display: flex;
          justify-content: space-around;
        }
        [data-pomp] {
          display: flex;
          flex-direction: column;
          grid-column: 1;
          grid-row: 1;
          align-items: center;
          align-content: center;
          span {
            display: block;
            font-weight: bold;
            font-size: 25px;
          }
          p {
            margin-top: -.6rem;
            font-weight: bold;
            color: #C40005;
            margin-left: 0rem;
          }
        }
        [data-sam] {
          display: flex;
          flex-direction: column;
          grid-column: 2;
          grid-row: 1;
          align-items: center;
          align-content: center;
          span {
            display: block;
            font-weight: bold;
            font-size: 25px;
          }
          p {
            margin-top: -.6rem;
            font-weight: bold;
            color: #C40005;
            margin-left: 0rem;
          }
        }
        [data-secours] {
          display: flex;
          flex-direction: column;
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row: 2;
          align-items: center;
          align-content: center;
          span {
            display: block;
            font-weight: bold;
            font-size: 25px;
          }
          p {
            margin-top: -.6rem;
            font-weight: bold;
            color: #C40005;
            margin-left: 0rem;
          }
        }
      }
    }
  }
  [data-para] {
    font-size: 9px;
    width: 90%;
    margin: 0 auto;
    margin-top: .3rem;
  }
  [data-sauv] {
    margin-top: .2rem;
    width: 326px;
    height: 70px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #1DA16A;
    border-radius: 10px;
    display: flex;
    line-height: 1;
    margin-left: 2.5rem;
    z-index: 1;
    h5 {
      color: #1DA16A;
      font-size: 9px;
      font-weight: bold;
      margin-left: 1rem;
      margin-top: 5px;
    }
    p {
      margin-top: -13px;
      color: #161314;
      font-size: 9px;
      margin-left: 1rem;
      letter-spacing: 0;
    }
    img {
      position: relative;
      left: 2rem;
      bottom: 15px;
    }
  }
  [data-footerRes] {
    background: #161314 0% 0% no-repeat padding-box;
    height: 74px;
    z-index: -1;
    margin-top: -2.2rem;
  }
  [data-t9] {
    font-size: 9px !important;
  }
}

// FIN accident

//incendie

[data-incendie] {
  width: 419px;
  height: 595px;
  border: 1px solid black;
  [data-headSommaire] {
    height: 55.5px;
    background: #0C090C 0% 0% no-repeat padding-box;
  }
  [data-som] {
    background-image: url(../assets/barre.png);
    display: flex;
    align-items: center;
    align-content: center;
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-position-x: 10%;
    height: 25px;
    h2 {
      font-size: 12px;
      margin: 0;
      margin-left: .5rem;
      color: white;
    }
  }
  [data-content] {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
  [data-line] {
    margin-top: 1rem;
    display: flex;
    gap: 1.5rem;
  }
  [data-first] {
    width: 151px;
    height: 200px;
    border: 2px solid var(--unnamed-color-ffffff);
    background: #161314 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    font-size: 9px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    [data-num1] {
      color: white;
      font-size: 16px;
      font-weight: bold;
      background: #0C090C 0% 0% no-repeat padding-box;
      border: 2px solid #FFFFFF;
      width: 38px;
      height: 38px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: -1.5rem;
    }
    p {
      text-align: center;
      width: 80%;
    }
    span {
      font-size: 11px;
      color: white;
    }
    [data-contat] {
      width: 136px;
      height: 47px;
      background: #ECECEC 0% 0% no-repeat padding-box;
      border-radius: 10px;
      color: #C40005;
      font-size: 25px;
      font-weight: bold;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      p {
        margin-left: 0;
      }
    }
  }
  [data-second] {
    width: 151px;
    height: 200px;
    border: 2px solid var(--unnamed-color-ffffff);
    background: #161314 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    font-size: 9px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    [data-num1] {
      color: white;
      font-size: 16px;
      font-weight: bold;
      background: #0C090C 0% 0% no-repeat padding-box;
      border: 2px solid #FFFFFF;
      width: 38px;
      height: 38px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: -1.5rem;
    }
    p {
      text-align: center;
      width: 80%;
      margin-left: 1rem;
    }
    span {
      font-size: 11px;
      color: white;
    }
  }
  [data-third] {
    margin-top: 1rem;
    width: 326px;
    height: 115px;
    border: 2px solid var(--unnamed-color-ffffff);
    background: #161314 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    font-size: 9px;
    color: white;
    display: flex;
    [data-num1] {
      color: white;
      font-size: 16px;
      font-weight: bold;
      background: #0C090C 0% 0% no-repeat padding-box;
      border: 2px solid #FFFFFF;
      width: 38px;
      height: 38px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: -1.3rem;
      width: 70%;
    }
    [data-line] {
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: white;
      margin: 0;
      p {
        text-align: left;
        width: 80%;
        margin-top: -1.5rem;
        line-height: 1;
        margin-left: 1rem;
      }
      span {
        font-size: 11px;
        color: white;
        font-weight: bold;
        padding-top: .8rem;
        margin-left: 1rem;
      }
    }
  }
  [data-fourth] {
    border: 2px solid var(--unnamed-color-c40005);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #C40005;
    border-radius: 10px;
    width: 326px;
    height: 106px;
    margin: 0;
    display: flex;
    justify-content: center;
    h3 {
      margin: 0;
      font-size: 9px;
      color: #C40005;
      margin-bottom: .8rem;
    }
    [data-txt] {
      margin-top: 1rem;
      font-size: 8px;
      color: #161314;
      line-height: 0.3;
      h6 {
        margin: 0;
        margin-top: .8rem;
        color: #C40005;
        font-size: 11px;
        text-align: center;
      }
    }
    [data-cont] {
      display: flex;
      justify-content: center;
      margin-left: .5rem;
      width: 30%;
    }
    [data-ic] {
      display: flex;
      flex-direction: column;
      margin: 0;
      margin-left: 3rem;
      align-items: center;
      justify-content: center;
    }
    [data-imgP] {
      position: relative;
      left: 12%;
      margin: 0;
    }
  }
  [data-imgL] {
    margin-left: -2rem;
  }
  [data-footerRes] {
    background: #161314 0% 0% no-repeat padding-box;
    height: 74px;
    z-index: -1;
    margin-top: -2rem;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    p {
      margin-top: 10px;
      font-size: 10px;
      color: white;
      padding-top: 1.5rem;
    }
    img {
      margin-top: 10px;
      padding-top: 1rem;
      padding-left: .5rem;
    }
  }
}

// FIN incendie

//Cetificat

[data-certificat] {
  width: 419px;
  height: 595px;
  border: 1px solid black;
  [data-headSommaire] {
    height: 55.5px;
    background: #0C090C 0% 0% no-repeat padding-box;
  }
  [data-som] {
    background-image: url(../assets/barre.png);
    display: flex;
    align-items: center;
    align-content: center;
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-position-x: 5%;
    height: 25px;
    h2 {
      font-size: 12px;
      margin: 0;
      margin-left: .5rem;
      color: white;
    }
  }
  [data-content] {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    p {
      font-size: 9px;
      width: 85%;
    }
  }
  [data-imgContain] {
    object-fit: scale-down;
    margin-top: 3rem;
    margin-bottom: 2rem;
    img {
      width: 91px;
      height: 96px;
    }
  }
  [data-line] {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-left: 4rem;
  }
  [data-footerRes] {
    background: #161314 0% 0% no-repeat padding-box;
    height: 74px;
    z-index: -1;
    margin-top: .2rem;
  }
}

// FIN certificat

// logo

[data-logo] {
  width: 419px;
  height: 595px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

// FIN logo

//data-notes

[data-notes] {
  width: 419px;
  height: 595px;
  border: 1px solid black;
  [data-headSommaire] {
    height: 55.5px;
    background: #0C090C 0% 0% no-repeat padding-box;
  }
  [data-som] {
    background-image: url(../assets/barre.png);
    display: flex;
    align-items: center;
    align-content: center;
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-position-x: 10%;
    height: 25px;
    h2 {
      font-size: 12px;
      margin: 0;
      margin-left: .5rem;
      color: white;
    }
  }
  [data-content] {
    margin-top: 4rem;
    margin-bottom: 3.5rem;
    hr{
      width: 80%;
      opacity: .4;
      margin-bottom: 1.3rem;
    }
  }
  [data-footerRes] {
    background: #161314 0% 0% no-repeat padding-box;
    height: 74px;
    z-index: -1;
  }
}

//FIN data-notes

// data-final

[data-final] {
  width: 419px;
  height: 595px;
  border: 1px solid black;
  [data-head] {
    height: 65px;
    background: #0C090C 0% 0% no-repeat padding-box;
  }
  [data-content] {
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
  [data-center] {
    font-size: 11px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    line-height: 0;
    font-weight: bold;
    margin-bottom: 6.3rem;
  }
  [data-footerF] {
    height: 74px;
    background: #161314 0% 0% no-repeat padding-box;
  }
}

// FIN data-final
