@import url('https://fonts.googleapis.com/css2?family=Montserrat');

/* FIRST PAGE */

.container {
    background-color: white;
    display: flex;
    flex-direction: row;
    height: 841.89px;
    width: 595.276px;
    border: 2px solid black;
}

.fleft {
    background-color: black !important;
    color: white;
    width: 208.094px;
    display: flex;
    flex-direction: column;
}

.fleft h1 {
    font-size: 11.2604px;
    font-family: sans-serif;
    margin-left: 1vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.fleft h1 span {
    display: block;
    font-family: 'Montserrat', sans-serif;
}

.fleft p {
    font-size: 9.0083px;
    margin-left: 1vw;
    width: 80%;
    margin-bottom: 3vh;
    font-family: 'Montserrat', sans-serif;
}
.logo {
    margin-top: 3vh;
    width: 100%;
    margin-bottom: 3vh;
}
.picto {
    width: 60%;
    align-self: center;
    justify-self: center;
}
.contact {
    height: 189.894px;
    width: 208.094px;
    background-color: red !important;
    font-size: 9.0083px;
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
}

.contact span {
    display: block;
    margin-left: 1vw;
}


.fright {
    color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.fright h1 {
    font-size: 16.5152px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 4vh;  
    margin-left: 1vw;  
    line-height: 1.5;
    font-weight: bold;
}

.fright span {
    display: block;
}

.bar {
    margin-left: 1vw;  
    border-bottom: 5px solid red;
    width: 85%;
    display: block;
}

.quote {
    font-size: 9.0083px;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    width: 85%;
    margin-left: 1vw;
}

.desc {
    font-size: 10.5152px;
    font-family: sans-serif;
    width: 85%;
    margin-left: 1vw;
    margin-bottom: 5vh;
}

.firstimg {
    margin-top: 3vh;
    width: 339.063px;
    height: 183.565px;
    width: 85%;
    margin-left: 1vw;
}

/* END FIRST PAGE */

/* START SECOND PAGE */

.containerSecond {
    height: 841.89px;
    width: 595.276px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}

/* .myGrid {
    display: grid;
    grid-template-columns: 208.094px;
} */

.myGrid {
    display: flex;
    flex-direction: row;
}

.sleft {
    width: 208.094px;
    height: 40vh;
    grid-column-start: 0;
    grid-column-end: 0;
}

.secondfirstimg {
    width: 173.858px;
    height: 124.724px;
    margin-top: 2vh;
    margin-left: 1vw;
}

.sleft h1 {
    font-size: 11.2604px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 1vw;
}

.sleft h1 span {
    display: block;
}

.sleft p {
    font-size: 9.0083px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 1vw;
    width: 85%;
    margin-bottom: 8vh;
}

.sright {
    color: black;
    width: 100%;
    grid-column-start: 0;
    grid-column-end: 0;
}

.sright h1 {
    font-size: 16.5152px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 4vh;  
    margin-left: 1vw;  
    line-height: 1.5;
    width: 85%;
}

.sright span {
    display: block;
}

.sright p {
    margin-left: 1vw;
    font-size: 10.5152px;
    font-family: 'Montserrat', sans-serif;
    width: 85%;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: row;
}

.txtRight {
    right: 0;
}

.secondSection {
    color: white;
    height: 198.37px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: red;
    grid-column-start: 0;
    grid-column-end: 1;
    margin-top: -2.2vh;
}

.secondSection h1 {
    font-size: 11.2604px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 2vw;
    margin-top: 5vh;
}

.secondSection p {
    font-size: 10.5152px;
    font-family: 'Montserrat', sans-serif;
    width: 90%;
    margin-left: 2vw;
    margin-bottom: 5vh;
}

.thirdSection {
    color: black;
    width: 100%;
    height: 198.37px;
    display: flex;
    flex-direction: row;
    grid-column-start: 0;
    grid-column-end: 1;
}

.thirdSection h1 {
    font-size: 11.2604px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 2vw;
    margin-top: 7vh;
}

.thirdSection p {
    font-size: 10.5152px;
    font-family: 'Montserrat', sans-serif;
    width: 90%;
    margin-left: 2vw;
    margin-bottom: 5vh;
}


.secondsecondimg {
    width: 190.866px;
    height: 199.37px;
}

.lastimg {
    width: 191.449px;
    height: 218.045px;
}

.txtDesc {
    display: flex;
    flex-direction: row;
}


section {
    margin-left: 2vw;
}
/* END SECOND PAGE */