@import url('https://fonts.googleapis.com/css2?family=Montserrat');

/* FIRST PAGE */

.container {
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    height: 29.7cm;
    width: 21cm;
}

.fleft {
    background-color: black !important;
    color: white;
    width: 7.341cm;
    display: flex;
    flex-direction: column;
}

.fleft h1 {
    font-size: 19.9571px;
    font-family: sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-left: 2%;
}

.fleft p {
    font-size: 13.9657px;
    width: 95%;
    font-family: 'Montserrat', sans-serif;
    margin-left: 2%;
}
.logo {
    width: 100%;
    margin-top: 8%;
}
.picto {
    width: 60%;
    align-self: center;
    justify-self: center;
}
.contact {
    width: 7.241cm;
    height: 6.699cm;
    background-color: red !important;
    font-size: 9.0083px;
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
}

.contact h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 19.9571px;
    text-align: center;
}

.contact span {
    margin-left: 4%;
    display: block;
    line-height: 2.5;
    font-size: 15.9657px;
    font-family: 'Montserrat', sans-serif;
}


.fright {
    color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    margin-top: 2%;
}

.fright h1 {
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1;
    font-weight: bold;
    width: 90%;
}

.fright span {
    display: block;
}

.bar {
    border-bottom: 5px solid red;
    width: 90%;
    display: block;
    margin-bottom: 2%;
}

.quote {
    font-size: 15.9657px;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    width: 90%;

}

.desc {
    font-size: 15.9657px;
    font-family: sans-serif;
    width: 90%;
    line-height: 1;
}

.firstimg {
    margin-top: 4%;
    width: 11.8cm;
    height: 8cm;
}

/* END FIRST PAGE */

/* START SECOND PAGE */

.containerSecond {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    height: 29.7cm;
    width: 21cm;
}

/* .myGrid {
    display: grid;
    grid-template-columns: 208.094px;
} */

.myGrid {
    display: flex;
    flex-direction: row;
}

.sleft {
    width: 7.341cm;
    margin-left: 3%;
    margin-top: 3%;
}

.secondfirstimg {
    width: 173.858px;
    height: 124.724px;

}

.sleft h1 {
    font-size: 20.2705px;
    font-family: 'Montserrat', sans-serif;

}

.sleft p {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    width: 90%;
}

.sright {
    color: black;
    width: 100%;
    margin-top: 2%;
}

.sright h1 {
    font-size: 29.2705px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    width: 90%;
}

.sright span {
    display: block;
}

.sright p {
    font-size: 14.75px;
    font-family: 'Montserrat', sans-serif;
    width: 85%;
    display: flex;
    flex-direction: row;
}

.txtRight {
    right: 0;
}

.secondSection {
    color: white;
    height: 7.0333cm;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: red;
}

.secondSection h1 {
    font-size: 19.9571px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 5%;
}

.secondSection p {
    font-size: 12.9657px;
    font-family: 'Montserrat', sans-serif;
    width: 90%;
    margin-left: 3%;
}

.thirdSection {
    color: black;
    width: 100%;
    height: 7.0333cm;
    display: flex;
    flex-direction: row;
}

.thirdSection h1 {
    font-size: 19.9571px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 5%;
}

.thirdSection p {
    font-size: 12.9657px;
    font-family: 'Montserrat', sans-serif;
    width: 90%;
    margin-left: 3%;
}


.secondsecondimg {
    width: 15cm !important;
    height: 7.0333cm;
}

.lastimg {
    height: 6.5cm;
}

.txtDesc {
    display: flex;
    flex-direction: row;
}


/* .button{
    margin-top: 15vh;
    
} */
/* END SECOND PAGE */